mat-sidenav mat-icon {
    margin-right: 12px;
  }

  .mat-radio-button,
  .mat-radio-group {
    margin-right: 25px;
  }
  .controlers-wrapper > * {
    width: 100%;
    padding: 0;
  }
  .misc-bottom-padding {
    margin: 8px 0 10px;
  }
  .misc-bottom-padding mat-label {
    margin-right: 15px;
  }

  .mat-sidenav-container {
    height: 100%;
    display: flex;
    flex: 1 1 auto;
  }

  .mat-sidenav-content {
    padding: 25px 40px 0;
  }
  .mat-sidenav {
    background-color: #f2f2f2;
    width: 250px;
  }

  .mat-nav-list .mat-list-item {
    font-size: 16px;
  }
  
  .mat-sidenav,
  .mat-sidenav-content {
    padding: 15px;
  }
  .mat-list-item.active {
    background: rgba(0, 0, 0, 0.10);
  }
  
  .inner-wrapper mat-card {
    width: 100%;
  }
  .mat-sidenav-content {
    padding: 20px 20px 0;
  }
  .misc-bottom-padding mat-label {
    display: block;
    padding-bottom: 10px;
  }
  .mat-sidenav {
    transition: width 0.5s;
  }
  .mat-nav-list .mat-list-item {
    font-size: 14px;
  }
  