<mat-sidenav-container>
    <mat-sidenav *ngIf="authenticated" #sidenav mode="side" opened="true" [fixedInViewport]="true" 
    fixedTopGap=55 [ngStyle]="{ 'width.px': sideNavWidth }" (mouseenter)="expand()" 
    (mouseleave)="shrink()">
       <mat-nav-list>
        <a mat-list-item routerLinkActive="active" routerLink="/overview">
          <mat-icon>pie_chart</mat-icon>
          <ng-container *ngIf="sideNavWidth > 240">Overview</ng-container>
        </a>
        <a mat-list-item routerLinkActive="active" routerLink="/todo">
          <mat-icon>notes</mat-icon>
          <ng-container *ngIf="sideNavWidth > 200">ToDo List</ng-container>
        </a>
        <a mat-list-item routerLinkActive="active" routerLink="/weather">
          <mat-icon>wb_sunny</mat-icon>
          <ng-container *ngIf="sideNavWidth > 200">Weather</ng-container>
        </a>
        <a mat-list-item routerLinkActive="active" routerLink="/rapsberry">
          <mat-icon>settings</mat-icon>
          <ng-container *ngIf="sideNavWidth > 200">Rapsberry Pi Administration</ng-container>        
        </a>
        <a mat-list-item routerLinkActive="active" routerLink="/rapsberry">
          <mat-icon>person</mat-icon>
          <ng-container *ngIf="sideNavWidth > 200">User Administration</ng-container>        
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>