<mat-sidenav-container class="todo-sidenav">
    <mat-sidenav mode="side" opened>
        <div class="todo-overview-cards">
            <button mat-button class="add-button" (click)="addToDo()">
                <mat-icon class="add-button-icon">add</mat-icon>
            </button>
            <mat-form-field>
                <input matInput [(ngModel)]="filterString" />
            </mat-form-field>
            <mat-form-field>
                <mat-label>Sort card by:</mat-label>
                <select matNativeControl required [(ngModel)]="chosenCategory">
                    <option *ngFor="let category of getObjectKeys(categories)" [value]="category">
                        {{ categories[category] }}</option>
                </select>
            </mat-form-field>
            <button mat-button [ngSwitch]="order" class="sort-button" (click)="alterOrder()">
                <mat-icon *ngSwitchCase="'asc'" class="sort-button-icon">arrow_upwards</mat-icon>
                <mat-icon *ngSwitchCase="'desc'" class="sort-button-icon">arrow_downwards</mat-icon>
            </button>
            <ng-container *ngFor="let todo of todos">
                <mat-card *ngIf="checkIffilterStringInToDo(todo)" (click)="updateOpenNote(todo._id)">
                    <mat-card-title>{{ todo.title }}</mat-card-title>
                    <mat-card-content>{{
            getSubStringForCard(todo.fullText)
          }}</mat-card-content>
                    <mat-card-actions>
                        <button mat-button (click)="deleteToDo(todo._id)">
                            <mat-icon class btnText>delete</mat-icon>
                        </button>
                    </mat-card-actions>
                </mat-card>
            </ng-container>
        </div>
    </mat-sidenav>
    <mat-sidenav-content *ngIf="todos.length > 0">
        <form class="note-form" [formGroup]="noteForm">
            <mat-form-field class="input-full-width">
                <mat-label>Title</mat-label>
                <input matInput value="" formControlName="title" />
            </mat-form-field>
            <mat-form-field class="input-full-width">
                <mat-label>Priority</mat-label>
                <mat-select formControlName="priority">
                    <mat-option *ngFor="let priorityKey of priorityKeys" [value]="priorityKey">
                        {{ priority[priorityKey] }}</mat-option>
                    <mat-option>None</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="dueTo" />
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-checkbox formControlName="resolved">Resolved!</mat-checkbox>
            <quill-editor formControlName="fullText"></quill-editor>
        </form>
    </mat-sidenav-content>
</mat-sidenav-container>